.vscode
odc
fdb5
odc
hermes
multio
pgen
.tags*
*.txt.user
.vscode
*~
CMakeLists.txt.user*
atlas
bufrdc_tables
build
client
ecbuild
eccodes
eckit
ecml
fckit
fdb
grib_api
libemos
mars-client
mars-server
marskit
metkit
mir
mpistubs
odb_api
transi
